.sidebarmain
{
    height: 100vh;
    width: 350px;
    position: fixed;
    background-color: #FF3CAC;
    background-image: linear-gradient(45deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}
.sidebarlists
{
    padding: 15px 25px;
    /* padding-top: 50px; */
    line-height: 45px;
}
.sidebaritems{
    font-size: 18px;
    color: whitesmoke;

}
.sidebaritems:hover
{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
    transition-duration: .8s;
    cursor: pointer;
    padding: 0px 30px;
    border: none;
    outline: none;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;

}
